.Bg1{
    background-image: url("../assets/homePageImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.JovannBtn{
    margin-right: 50px;
    border-radius: 20px;
}
.CarolineBtn{
    margin-right: 100px;
    border-radius: 20px;
}
.navTitle{
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 40px;
    color: white;
}
.navBg{
    background-color: #4C1C06;
}

.homeImg1{
    width: 500px;
    height: 300px;
    margin-top: 230px;
}
.homeImg2{
    width: 500px;
    height: 300px;
    margin-top: 230px;
}
.dog{
    justify-content: center;
    display: flex;
}
.malone{
    justify-content: center;
    display: flex;
}